.animtest {
    position: absolute;
    z-index: 1;
}
.divcell {
    font-size: 0px;
    text-align: center;
    margin: auto;
}
.cell {
    position: relative;
    z-index: 2;
}
.button {
    font-size: 50px;
    background: greenyellow;
}
#win {
    font-size: 50px;
    color: blueviolet
}
.movechoices {
    font-size: 0px;
    text-align: center;
    margin: auto;
    z-index: 0;
    position: relative;
}
#connect4 {
    zoom: 70%;
}
table, th, td {
    border: 1px solid black;
}