.animtest {
    position: absolute;
    z-index: 0;
}
.divcell {
    font-size: 0px;
    text-align: center;
    margin: auto;
}
.cell {
    position: relative;
    z-index: 1;
}
#resetButton {
    font-size: 50px;
    background: greenyellow;
}